html {
  font-family: sans-serif;
  font-size: 12px;
}

.List {
  display: flex;
  width: 100%;
  margin: 10px;
  border: 1px solid #d9dddd;
  overflow: hidden !important;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}

.selected {
  background-color: red;
}
